.eDairyHeaderIcon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.sub-heading {
  font-size: 1rem;
  font-weight: bold;
}

.add-event-btn {
  --padding-start: 0;
  --padding-end: 0;
  font-size: 0.85rem;
}

ion-item[lines="none"] {
  border-radius: 8px;
  margin: 8px;
}

ion-label h3 {
  margin: 0;
  font-size: 1.1rem;
}

ion-card-title,
ion-card-subtitle {
  margin: 0;
  padding: 0;
}

ion-button[fill="clear"] {
  --padding: 0 4px;
}


.event-label {
  display: flex;
  flex-direction: column;

  .event-title {
    font-weight: 600;
    margin: 0 0 4px 0;
    font-size: 16px;
  }

  .event-meta-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
    color: #555;
    gap: 10px;
  }
}
