<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center; flex-grow: 1;">
      <div class="animated-text bounce">School eDairy</div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-title *ngIf="userDetails?.firstName">
        <ion-label>Welcome back, {{ userDetails?.firstName }}</ion-label>
      </ion-title>
      <ion-button expand="block" color="danger" (click)="logout()">
        Logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img">
    <div class="main_image"
         [style.backgroundImage]="'url(../../../assets/images/SchoolHomeWideBG.png)'">
      <ion-buttons slot="start">
        <ion-button color="light">
          <ion-icon slot="start" name="reorder-three-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="main_content" [class.soft-landing]="enableSoftLanding">
    <ion-row *ngFor="let row of cardRows">
      <ion-col size="6"
               *ngFor="let card of row"
               (click)="routePage(card.route)">
        <div class="sub_div">
          <div class="imgs"
               [style.backgroundImage]="'url(' + card.image + ')'"></div>
          <ion-label>{{ card.label }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
