<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><ion-img (click)="routePage('landingPage')" class="eDairyHeadderHomeIcon"
            src="../../assets/images/SchooleDairyIcon.png"></ion-img></ion-col>
        <ion-col size="8" class="custom-col ion-text-center">Home Work</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-datetime [(ngModel)]="selectedDate" presentation="date" (ionChange)="onDateChange($event)">
  </ion-datetime>

  <!-- Segment for selecting a specific subjectId -->
  <ion-segment [(ngModel)]="selectedSubject">
    <!-- Dynamically create a segment button for each unique subjectId -->
    <ion-segment-button *ngFor="let subject of uniqueSubjectIds" [value]="subject">
      <ion-label>{{ subject }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item *ngIf="(filteredHomeworkList() ?? []).length === 0">
    <ion-label>
      <h2>No homework for the selected day</h2>
    </ion-label>
  </ion-item>

  <!-- List of Homework items filtered by the selected subjectId -->
  <ion-list>
    <ion-item *ngFor="let homework of filteredHomeworkList()">
      <ion-label>
        <h2>{{ homework.homeWorkId }} - {{ homework.subjectId }}</h2>
        <p><strong>Standard:</strong> {{ homework.standardId }}</p>
        <p><strong>Academic Year:</strong> {{ homework.academicYear }}</p>
        <p><strong>Branch:</strong> {{ homework.branchId }}</p>
        <p><strong>Assigned On:</strong> {{ homework.dateOfAssignment }}</p>
        <p><strong>Details:</strong> {{ homework.eDairyDetails }}</p>
      </ion-label>

      <ion-icon slot="end" (click)="sendCommunicaitonMessage(noticeItem.noticeDetails)" expand="block" name="notifications"></ion-icon>
      <ion-icon slot="end" (click)="editSchoolNoticeBoard(homework)" expand="block" name="create"></ion-icon>
      <ion-icon slot="end" (click)="duplicateSchoolNoticeBoard(homework)" expand="block" name="copy"></ion-icon>
      <ion-icon slot="end" (click)="deleteHomeWork(homework.id)" expand="block" name="trash"></ion-icon>


    </ion-item>
  </ion-list>
  <ion-list>
  <ion-item>

  <ion-icon   (click)="createSchoolNoticeBoard()" title="Create Homework" expand="block" name="create-outline"></ion-icon>
  </ion-item>
  </ion-list>
</ion-content>
