<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-img   class="eDairyHeadderHomeIcon"
    src='{{imageUrl}}'>imageUrl</ion-img>

    <ion-grid>
      <ion-row>
        <ion-col><ion-img (click)="routePage('landingPage')" class="eDairyHeadderHomeIcon"
          src="../../assets/images/SchooleDairyIcon.png"></ion-img></ion-col>
        <ion-col size="8" class="custom-col ion-text-center" >Holiday List</ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">holidayList</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-card *ngFor="let holidayItem of schoolHolidayList;">
    <ion-card-header>
      <ion-card-title>Notice Title : {{holidayItem.holidayTitle}}</ion-card-title>
      <ion-card-subtitle>Notice Department : {{holidayItem.holidayStartDate}}</ion-card-subtitle>
       <ion-card-subtitle>Notice End Date: {{holidayItem.holidayEndDate}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{holidayItem.holidayDiscription}}

    </ion-card-content>


    <ion-item>

      <ion-icon slot="end" (click)="editSchoolHoliday(holidayItem)" expand="block" name="create"></ion-icon>
      <ion-icon slot="end" (click)="duplicateSchoolHoliday(holidayItem)" expand="block" name="copy"></ion-icon>
      <ion-icon slot="end" (click)="deleteSchoolHoliday(holidayItem.id)" expand="block" name="trash"></ion-icon>


    </ion-item>

  </ion-card>



</ion-content>