.eDairyHeadderHomeIcon {
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
  }
  ion-icon {
    color: red;
  }

  .custom-col {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
  }