<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-img class="eDairyHeaderIcon"
                   src="../../assets/images/SchooleDairyIcon.png"
                   (click)="routePage('landingPage')"
                   aria-label="Home Icon">
          </ion-img>
        </ion-col>
        <ion-col size="8" class="ion-text-center">
          <ion-title class="page-title">Holiday List</ion-title>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="holiday-content">

  <div *ngFor="let holidayItem of schoolHolidayList" class="holiday-card">
    <div class="card-header">
      <div class="holiday-title">{{ holidayItem.holidayTitle }}</div>
      <div class="holiday-date">{{ holidayItem.holidayDate | date: 'longDate' }}</div>
    </div>

    <div class="card-body">
      {{ holidayItem.holidayDiscription }}
    </div>

    <div class="card-actions">
      <ion-icon name="create" (click)="editSchoolHoliday(holidayItem)" aria-label="Edit" class="action-icon"></ion-icon>
      <ion-icon name="copy" (click)="duplicateSchoolHoliday(holidayItem)" aria-label="Duplicate" class="action-icon"></ion-icon>
      <ion-icon name="trash" (click)="deleteSchoolHoliday(holidayItem.id)" aria-label="Delete" class="action-icon danger-icon"></ion-icon>
    </div>
  </div>

</ion-content>
