.eDairyHeadderHomeIcon {
    width: 50px; /* Set your desired width */
    height: 50px; /* Set your desired height */
  }
  
 

  ion-item {
    border: 1px solid lightgray;
   margin: 2px;
   border-radius: 10px;
   .ttl {
     .sub_heading {
       margin: 5px 0px;
       color: black;
       font-size: 15px;
     }
     ion-label {
       font-size: 10px;
       color: gray;
     }
   }
   .content_button {
     height: 30px;
     width: 80px;
     margin: 0px;
     --border-radius: 30px;
     color: #ffff;
     font-size: 10px;
   }

   .scnd_lbl {
    font-size: 10px;
  }
  
 }

 
  .workout {
    .bold_lbl {
      margin-bottom: 10px;
      font-size: 18px;
      font-family: "bold";
        }
    .smpl_lbl {
      font-size: 12px;
      margin-bottom: 24px;
      padding: 0;
  margin: 0;
    }
  }
  ion-icon {
    color: red;
  }
 
