

<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col><ion-img (click)="routePage('landingPage')" class="eDairyHeadderHomeIcon"
            src="../../assets/images/SchooleDairyIcon.png"></ion-img></ion-col>
          <ion-col size="8" class="custom-col ion-text-center" >School eLibrary</ion-col>
          <ion-col></ion-col>
        </ion-row> 
      </ion-grid> 
  
     </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row *ngFor="let standard of schoolStandardList" class="ion-align-items-center">
      <ion-col  >
        <ion-card class="custom-card">
          <ion-card-content>
            <ion-card-title (click)="openSchooleLibraryModal('NLR001',standard.standardName)"  >{{ standard.standardName }}</ion-card-title>
            <!-- Add more labels as needed for other properties -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  
</ion-content>
